.form__input .underline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.form__input .underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.form__input input:focus ~ label,
.form__input input:valid ~ label {
  color: #415;
  transform: translateY(-20px);
  font-size: 13px;
}

.form__input textarea:focus ~ label,
.form__input textarea:valid ~ label {
  color: #415;
  transform: translateY(-25px);
  font-size: 13px;
}

.form__input input:focus ~ .underline::before,
.form__input textarea:focus ~ .underline::before {
  transform: translateX(0%);
}
