@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;800&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #295bb7;
  --light-primary-color: #5c8be1;
  --background-color: #96a9cc;
  --secondary-color: #f8b944;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  // outline: 1px solid lightgreen;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  background-color: #f0f0f0;
}

.primary-bg {
  background-color: var(--primary-color);
}
.primary-color {
  color: var(--primary-color);
}
.light-primary-bg {
  background-color: var(--light-primary-color);
}
.light-primary-color {
  color: var(--light-primary-color);
}

.background-bg {
  background-color: var(--background-color);
}
.background-color {
  color: var(--background-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}
.secondary-color {
  color: var(--secondary-color);
}

.nav__botttom--categories::-webkit-scrollbar {
  display: none;
}
.ReactModal__Overlay--after-open {
  z-index: 999;
}

.substring {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
